<div fxLayout="row" fxLayout.lt-md="columm wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="10px" class="container">
    <section>
        <h1>Ivia Fortaleza</h1>
        <p>
            Av. Washington Soares, 909, Loja 97 /
            Shopping Salinas - Bloco Azul /
            Bairro: Edson Queiroz /
            CEP: 60811-341 /
            Fortaleza - CE
        </p>
    </section>
    <section>
        <h1>Ivia Recife</h1>
        <p>
            Av. Marquês de Olinda, 126, Sala 301 /
            Bairro: Recife Antigo /
            CEP: 50.030-901 /
            Recife - BA
        </p>
    </section>
    <section>
        <h1>Ivia Natal</h1>
        <p>
            Rua Ipanguassu, 1123 /
            Bairro: Tirol /
            CEP: 59.015-030 /
            Natal - RN
        </p>
    </section>
</div>